doctype html
html(lang="ko")
    //- head
    //-     block head
    head 
        title #{pageTitle} | Wetube
        link(link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        main
            block content
    include partials/footer.pug
    